__pycache__/

history_version/

simplex_plot.py

Plot_one_demension.py

unconstrained_optimization/second_order_method/test_version/

unconstrained_optimization/first_order_method/test_vesion/

*test.py

.idea/